In [10]:
import os
import pymysql
import pandas as pd

In [25]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = "mango123"
database = os.getenv('MYSQL_DATABASE')

In [26]:
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd=password,
    db="happiness",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT happiness.`2015`.`Happiness Rank` - happiness.`2016`.`Happiness Rank` AS 'Happiness Rank Difference' FROM happiness.`2016` INNER JOIN happiness.`2015` ON happiness.`2016`.`Country` = happiness.`2015`.`Country` WHERE happiness.`2016`.`Country` = 'Switzerland'", conn)
df.tail(10)

   Happiness Rank Difference
0                         -1

In [31]:
df = pd.read_sql_query("SELECT DISTINCT `Country` FROM `happiness`.`2015`", conn)
df['Country'].to_list()

/Users/kelkong/opt/miniconda3/lib/python3.9/site-packages/pandas/io/sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

['Switzerland',
 'Iceland',
 'Denmark',
 'Norway',
 'Canada',
 'Finland',
 'Netherlands',
 'Sweden',
 'New Zealand',
 'Australia',
 'Israel',
 'Costa Rica',
 'Austria',
 'Mexico',
 'United States',
 'Brazil',
 'Luxembourg',
 'Ireland',
 'Belgium',
 'United Arab Emirates',
 'United Kingdom',
 'Oman',
 'Venezuela',
 'Singapore',
 'Panama',
 'Germany',
 'Chile',
 'Qatar',
 'France',
 'Argentina',
 'Czech Republic',
 'Uruguay',
 'Colombia',
 'Thailand',
 'Saudi Arabia',
 'Spain',
 'Malta',
 'Taiwan',
 'Kuwait',
 'Suriname',
 'Trinidad and Tobago',
 'El Salvador',
 'Guatemala',
 'Uzbekistan',
 'Slovakia',
 'Japan',
 'South Korea',
 'Ecuador',
 'Bahrain',
 'Italy',
 'Bolivia',
 'Moldova',
 'Paraguay',
 'Kazakhstan',
 'Slovenia',
 'Lithuania',
 'Nicaragua',
 'Peru',
 'Belarus',
 'Poland',
 'Malaysia',
 'Croatia',
 'Libya',
 'Russia',
 'Jamaica',
 'North Cyprus',
 'Cyprus',
 'Algeria',
 'Kosovo',
 'Turkmenistan',
 'Mauritius',
 'Hong Kong',
 'Estonia',
 'Indonesia',
 'Vietnam',
 'Turkey',
 'Kyrgyzstan',
 'Nigeria',
 'Bhutan',
 'Azerbaijan',
 'Pakistan',
 'Jordan',
 'Montenegro',
 'China',
 'Zambia',
 'Romania',
 'Serbia',
 'Portugal',
 'Latvia',
 'Philippines',
 'Somaliland region',
 'Morocco',
 'Macedonia',
 'Mozambique',
 'Albania',
 'Bosnia and Herzegovina',
 'Lesotho',
 'Dominican Republic',
 'Laos',
 'Mongolia',
 'Swaziland',
 'Greece',
 'Lebanon',
 'Hungary',
 'Honduras',
 'Tajikistan',
 'Tunisia',
 'Palestinian Territories',
 'Bangladesh',
 'Iran',
 'Ukraine',
 'Iraq',
 'South Africa',
 'Ghana',
 'Zimbabwe',
 'Liberia',
 'India',
 'Sudan',
 'Haiti',
 'Congo (Kinshasa)',
 'Nepal',
 'Ethiopia',
 'Sierra Leone',
 'Mauritania',
 'Kenya',
 'Djibouti',
 'Armenia',
 'Botswana',
 'Myanmar',
 'Georgia',
 'Malawi',
 'Sri Lanka',
 'Cameroon',
 'Bulgaria',
 'Egypt',
 'Yemen',
 'Angola',
 'Mali',
 'Congo (Brazzaville)',
 'Comoros',
 'Uganda',
 'Senegal',
 'Gabon',
 'Niger',
 'Cambodia',
 'Tanzania',
 'Madagascar',
 'Central African Republic',
 'Chad',
 'Guinea',
 'Ivory Coast',
 'Burkina Faso',
 'Afghanistan',
 'Rwanda',
 'Benin',
 'Syria',
 'Burundi',
 'Togo']