In [10]:
import os
import pymysql
import pandas as pd

In [11]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = "mango123"
database = os.getenv('MYSQL_DATABASE')

In [16]:
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd=password,
    db="happiness",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT happiness.`2015`.`Happiness Rank` - happiness.`2016`.`Happiness Rank` AS 'Happiness Rank Difference' FROM happiness.`2016` INNER JOIN happiness.`2015` ON happiness.`2016`.`Country` = happiness.`2015`.`Country` WHERE happiness.`2016`.`Country` = 'Switzerland'", conn)
df.tail(10)

/Users/kelkong/opt/miniconda3/lib/python3.9/site-packages/pandas/io/sql.py:758: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   Happiness Rank Difference
0                         -1