In [1]:
import os
import pymysql
import pandas as pd

In [7]:
host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = "mango123"
database = os.getenv('MYSQL_DATABASE')

In [8]:
conn = pymysql.connect(
    host=host,
    port=int(3306),
    user="root",
    passwd=password,
    db="happiness",
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM YOUR_TABLE",
    conn)
df.tail(10)

ImportError: Missing optional dependency 'SQLAlchemy'.  Use pip or conda to install SQLAlchemy.